.l-content {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.clearing {
    height: 1px;
    line-height: 1px;
    font-size: 1px;
    clear: both;
}

table.overview {
    width: 33%;
}

.hidden {
    display: none;
}

.error {
    color: red;
}

input[type=text].error {
    border-color: red;
}
